@keyframes fichaFrames {
    0% {
        grid-area: 1/5;
		align-self: flex-start;
    }

	15% {
        grid-area: 1/5;
		align-self: center;
    }

	30% {
        grid-area: 1/5;
		align-self: flex-end;
    }

	30% {
        grid-area: 2/5;
		align-self: flex-start;
    }

	45% {
        grid-area: 2/5;
		align-self: center;
    }

	60% {
        grid-area: 2/5;
		align-self: flex-end;
    }

	75% {
		grid-area: 3/5;
		align-self: flex-start;
	}

	90% {
        grid-area: 3/5;
		align-self: center;
    }

	100% {
        grid-area: 3/5;
		align-self: flex-end;
    }
}

@keyframes fichaFramesDoUp {
    0% {
        grid-area: 3/5;
		align-self: flex-end;
    }

	15% {
        grid-area: 3/5;
		align-self: center;
    }

	30% {
        grid-area: 3/5;
		align-self: flex-start;
    }

	30% {
        grid-area: 2/5;
		align-self: flex-end;
    }

	45% {
        grid-area: 2/5;
		align-self: center;
    }

	60% {
        grid-area: 2/5;
		align-self: flex-start;
    }

	75% {
		grid-area: 1/5;
		align-self: flex-end;
	}

	90% {
        grid-area: 1/5;
		align-self: center;
    }

	100% {
        grid-area: 1/5;
		align-self: flex-start;
    }
}
