@import './anima.css';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
}

.contenedor__principal {
	width: inherit;
	height: inherit;
	background-color: #888;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.contenedor__2do {
	/* width: 500px; */
	/* height: 550px; */
    width: 90%;
    height: 90%;
	max-width: 800px;
	background-color: inherit;
	display: block;
}

.score__board {
	width: 100%;
	height: 9%;
	border-radius: 7px 7px 0 0;
	font-size: 24px;
	text-shadow: 1px 1px 2px white;
	background-color: #333;
    padding: 0 2% 0 2%;
	display: grid;
	grid-template-columns: 27% repeat(30, 1fr);
	align-items: center;
	justify-content: left;
}

.jugador {
    width: fit-content;
    height: fit-content;
    color: yellow;
	margin-right: 1%;
}

.jug__cpu {
	width: fit-content;
    height: fit-content;
    color: aquamarine;
	margin-right: 1%;
}

.cpu {
	border-radius: 0 0 7px 7px;
}

.fichas__jugador {
    width: 400%;
    height: 90%;
	background-image: url("./img/Chips/chipRedWhite_sideBorder.png");
	/* background-image: url("./img/Chips/chipRedWhite_border.png"); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	/* animation: fichaFrames 1.4s linear 1 forwards; */
}

.board {
	width: 100%;
	height: 80%;
	border: 1px solid black;
	background: linear-gradient(seagreen, green); 
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(11, 1fr) 30%;
	align-items: center;
}

.carta {
	width: 200%;
	height: 90%;
	/* border: 1px solid burlywood; */
	border-radius: 4px;
	/* background-color: navajowhite; */
	/* background-image: url("./img/Cards/cardClubs9.png"); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.board {
	width: 100%;
	height: 80%;
	border: 1px solid black;
	background: linear-gradient(seagreen, green); 
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(11, 1fr) 30%;
	align-items: center;
}

.carta {
	width: 200%;
	height: 90%;
	/* border: 1px solid burlywood; */
	border-radius: 4px;
	/* background-color: navajowhite; */
	/* background-image: url("./img/Cards/cardClubs9.png"); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.mazo {
	width: 200%;
	height: 90%;
	/* border: 1px solid burlywood; */
	border-radius: 4px;
	/* background-color: navajowhite; */
	background-image: url(img/Cards/cardBack_blue3.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	grid-area: 2/13;
}

.botones__enJuego {
	width: 90%;
	height: fit-content;
	border: none;
	border-radius: 6px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	padding: 9px 25px 9px 25px;
	outline: none;
	display: 'flex';
}
	
.botones__enJuego:active {
	transform: translate(-2px, -4px);
}

#boton__pedirCarta:hover {
	background-color: aquamarine;
}

#boton__pedirCarta {
	/* border: 1px solid rgb(40, 93, 207); */
	color: beige;
	background-color: royalblue;
	text-shadow: 2px 2px 2px darkblue;
	box-shadow: inset 0 -0.5em 0 -0.35em rgba(0, 0, 0, 0.45);
	grid-area: 2/12;
	overflow: hidden;
	align-self: flex-start;
}

#boton__plantarse {
	/* border: 1px solid rgb(228, 23, 23); */
	color: beige;
	background-color: red;
	text-shadow: 2px 2px 2px darkred;
	box-shadow: inset 0 -0.5em 0 -0.35em rgba(0, 0, 0, 0.45);
	grid-area: 2/12;
	overflow: hidden;
	align-self: flex-end;
}

#boton__plantarse:hover {
	background-color: lightsalmon;
}

#boton__otraMano {
	width: fit-content;
	height: fit-content;
	border: none;
	border-radius: 6px;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	padding: 14px 20px 14px 20px;
	outline: none;
	color: beige;
	background-color: yellowgreen;
	text-shadow: 2px 2px 2px darkred;
	box-shadow: inset 0 -0.5em 0 -0.35em rgba(0, 0, 0, 0.45);
	grid-area: 2/12;
	overflow: hidden;
	align-self: center;
	justify-self: center;
	display: 'flex';
}

#boton__otraMano:hover {
	background-color: lightgreen;
	transform: translate(-4px, -4px);
	box-shadow: 4px 4px 9px black;
}

#boton__otraMano:active {
	transform: translate(-5px, -7px);
}

.cpu__pensando {
	font-size: 28px;
	font-style: italic;
	color: orangered;
	text-shadow: 2px 2px 5px black;
	grid-area: 2/12;
	align-self: center;
	justify-self: center;
	display: none;
}

.modalGanadorMano {
	width: 90%;
	height: 90%;
	padding: 2%;
	border: 1px solid black;
	border-radius: 9px;
	background: linear-gradient(beige, rgb(240, 240, 104));
	font-size: 36px;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	text-align: center;
	align-items: center;
	color: orangered;
	display: none;
	grid-area: 1/12;
	justify-self: center;
}

.modalGanadorMano:hover {
	transform: translate(-5px, -5px);
	box-shadow: 9px 9px 9px black;
}

#game_over {
	width: 100%;
	height: 90%;
	border: 1px solid black;
	background: linear-gradient(seagreen, green);
	font-size: 64px;
	font-weight: bold;
	text-shadow: 2px 2px 7px black;
	color: orangered;
	display: none;
	grid-template-rows: repeat(2, 1fr);
	align-items: flex-end;
	justify-content: center;
}

#rejugar {
	width: 90%;
	height: fit-content;
	font-size: 24px;
	font-weight: 400;
	align-self: center;
	justify-self: center;
	color: black;
	border-radius: 6px;
	background: linear-gradient(#BBB, #555);
	box-shadow: inset -3px -2px 2px rgba(0, 0, 0, 0.7);
	cursor: pointer;
	padding: 3%;
}

#rejugar:active {
	transform: translate(-3px, -4px);
}

#rejugar:hover {
	background: linear-gradient(#EEE, #999);
}

#menu__principal {
	width: 100%;
	height: 90%;
	border: 1px solid black;
	background: linear-gradient(seagreen, green);
	font-size: 64px;
	font-weight: bold;
	text-shadow: 2px 2px 7px black;
	color: orangered;
	display: none;
	grid-template: repeat(3, 1fr) repeat(3, 1fr);
	align-items: center;
	justify-content: center;
}

/*---------------------------------------------------------
RESPONSIVE
---------------------------------------------------------*/
/* @media (max-width: 799px) {
} */

@media (max-width: 599px) {
	.carta {
		width: 300%;
	}

	.botones__enJuego, #boton__otraMano {
		font-size: 10px;
		padding: 14px 9px 14px 9px;
	}

	.cpu__pensando {
		font-size: 18px;
	}

	.score__board {
		font-size: 10px;
	}
	
	.modalGanadorMano {
		font-size: 20px;
	}

	#game_over {
		font-size: 32px;
	}

	#rejugar {
		font-size: 16px;
	}
}

/* @media (max-width: 424px) {
}

@media (max-width: 374px) {
} */
